## Exercise 3
### JSON in Python
+ Student ID: 20465106
+ Name: Chen Xiaoqi

In [64]:
import json
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize

In [65]:
with open('../data/20180101a.json') as json_data:
    tweet = json.load(json_data)

In [66]:
#print(tweet)

In [67]:
print(type(tweet))

<class 'dict'>

In [68]:
for key in tweet:
    print(key,type(tweet[key]))

created_at <class 'str'>
id <class 'int'>
id_str <class 'str'>
text <class 'str'>
display_text_range <class 'list'>
source <class 'str'>
truncated <class 'bool'>
in_reply_to_status_id <class 'int'>
in_reply_to_status_id_str <class 'str'>
in_reply_to_user_id <class 'int'>
in_reply_to_user_id_str <class 'str'>
in_reply_to_screen_name <class 'str'>
user <class 'dict'>
geo <class 'NoneType'>
coordinates <class 'NoneType'>
place <class 'NoneType'>
contributors <class 'NoneType'>
is_quote_status <class 'bool'>
extended_tweet <class 'dict'>
quote_count <class 'int'>
reply_count <class 'int'>
retweet_count <class 'int'>
favorite_count <class 'int'>
entities <class 'dict'>
favorited <class 'bool'>
retweeted <class 'bool'>
possibly_sensitive <class 'bool'>
filter_level <class 'str'>
lang <class 'str'>
timestamp_ms <class 'str'>

In [69]:
df=pd.json_normalize(tweet)
df

,created_at,id,id_str,text,display_text_range,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,...,extended_tweet.entities.hashtags,extended_tweet.entities.urls,extended_tweet.entities.user_mentions,extended_tweet.entities.symbols,extended_tweet.entities.media,extended_tweet.extended_entities.media,entities.hashtags,entities.urls,entities.user_mentions,entities.symbols
0,Mon Jan 01 00:28:53 +0000 2018,947625642291376128,947625642291376128,Why does data journalist @maloym support @latg...,"[0, 140]","<a href=""http://twitter.com/download/iphone"" r...",True,947554925927587841,947554925927587841,859504635773464576,...,[],[],"[{'screen_name': 'maloym', 'name': 'Maloy Moor...",[],"[{'id': 947625636423598080, 'id_str': '9476256...","[{'id': 947625636423598080, 'id_str': '9476256...",[],"[{'url': 'https://t.co/yDUAJtAqxr', 'expanded_...","[{'screen_name': 'maloym', 'name': 'Maloy Moor...",[]

I saw the nested dic. by formatting the JSON file, and I parsed the nested dict. into a table

In [70]:
table1 = pd.json_normalize(tweet, record_path = ['extended_tweet','entities','user_mentions'])
table1

,screen_name,name,id,id_str,indices
0,maloym,Maloy Moore,247293595,247293595,"[25, 32]"
1,latguild,L.A. Times Guild ðŸ¦…,859504635773464576,859504635773464576,"[41, 50]"

In [71]:
media = pd.json_normalize(tweet,record_path=['extended_tweet','extended_entities','media'])
media

,id,id_str,indices,media_url,media_url_https,url,display_url,expanded_url,type,sizes.large.w,...,sizes.large.resize,sizes.thumb.w,sizes.thumb.h,sizes.thumb.resize,sizes.medium.w,sizes.medium.h,sizes.medium.resize,sizes.small.w,sizes.small.h,sizes.small.resize
0,947625636423598080,947625636423598080,"[181, 204]",http://pbs.twimg.com/media/DSakft8VAAAvHjx.jpg,https://pbs.twimg.com/media/DSakft8VAAAvHjx.jpg,https://t.co/5fVINtWn2Q,pic.twitter.com/5fVINtWn2Q,https://twitter.com/latguild/status/9476256422...,photo,1334,...,fit,150,150,crop,1200,900,fit,680,510,fit

In [72]:
urls = pd.json_normalize(tweet, record_path = ['entities', 'urls'])
urls

,url,expanded_url,display_url,indices
0,https://t.co/yDUAJtAqxr,https://twitter.com/i/web/status/9476256422913...,twitter.com/i/web/status/9â€¦,"[117, 140]"